@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    font-size: 16px;
    /* Light mode colors */
    --light-primary: #0058CB;
    --light-secondary: #575e71;
    --light-tertiary: #725572;
    --light-error: #BA1A1A;
    --light-background: #FEFBFF;
    --light-on-primary: #FFFFFF;
    --light-on-secondary: #FFFFFF;
    --light-on-tertiary: #FFFFFF;
    --light-on-error: #FFFFFF;
    --light-primary-container: #D9E2FF;
    --light-secondary-container: #DCE2F9;
    --light-tertiary-container: #FDD7FA;
    --light-error-container: #FFDAD6;
    --light-on-primary-container: #001945;
    --light-on-secondary-container: #141B2C;
    --light-on-tertiary-container: #2A132C;
    --light-on-error-container: #410002;
    --light-on-background: #1B1B1F;
    --light-surface: #FEFBFF;
    --light-on-surface: #1B1B1F;
    --light-surface-variant: #E1E2EC;
    --light-on-surface-variant: #44464F;
    --light-surface-tint: #0058CB;
    --light-outline: #757780;
    --light-outline-variant:#C5C6D0;
    
    /* Dark mode colors */
    --dark-primary: #B0C6FF;
    --dark-secondary: #C0C6DC;
    --dark-tertiary: #E0BBDD;
    --dark-error: #FFB4AB;
    --dark-background: #1B1B1F;
    --dark-on-primary: #002D6F;
    --dark-on-secondary: #293042;
    --dark-on-tertiary: #593D5A;
    --dark-on-error: #690005;
    --dark-primary-container: #00429B;
    --dark-secondary-container: #404659;
    --dark-tertiary-container: #593D5A;
    --dark-error-container: #93000A;
    --dark-on-primary-container: #D9E2FF;
    --dark-on-secondary-container: #DCE2F9;
    --dark-on-tertiary-container: #FDD7FA;
    --dark-on-error-container: #FFDAD6;
    --dark-on-background: #E3E2E6;
    --dark-surface: #1B1B1F;
    --dark-on-surface: #C7C6CA;
    --dark-surface-variant: #44464F;
    --dark-on-surface-variant: #C5C6D0;
    --dark-outline: #8F9099;
    --dark-surface-tint: #B0C6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    display: flex;
    width: 100%;
    position: relative;
    background-color: var(--light-surface-variant);
    overflow: none;
}
.side-nav{
    width: 256px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    position: relative;
}

.logo-section{
    display: flex;   
    align-items: center; 
    flex-direction: row;
    padding: 14px 24px;
}
.logo-section{
    text-decoration: none;
}

.logo-section> img{
    width: 48px;
    margin-right: 12px;
    
}

.logo-section > h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    color: var(--light-on-background);
    
}

.menu-section{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--light-outline-variant);
}
.menu-section > li{
    display: flex;
    padding: 12px 24px;
    justify-content: flex-start;
    align-items: center;
    color: var(--light-secondary);
}

.menu-section i>svg{
    width: 24px;
    margin-right: 12px;
    fill: var(--light-secondary);
}

.menu-section a{
    color: var(--light-secondary);
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}
.menu-section .active{
    border-left: 1px solid black;
    background-color: var(--light-secondary-container);
    
}

.menu-section li:hover{
    background-color: var(--light-surface-variant);
}

.menu-section .active svg{
    fill: var(--light-on-background);
}

.menu-section .active a{
    color: var(--light-on-background);
} 

.support-part{
    display: flex;
    flex-direction: column;
}

.support-part > li{
    display: flex;
    padding: 12px 24px;
    justify-content: flex-start;
    align-items: center;
    color: var(--light-secondary);

}

.support-part li:hover{
    background-color: var(--light-surface-variant);
}

.support-part  a {
    text-decoration: none;
    color: var(--light-secondary);
}

.main-content{
    width: calc(100% - 256px);
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 28px;
    background-color: var(--light-background);
}

.top-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.greetings{
    display: flex;
    flex: 1 0 auto;
    margin-right: 24px;
}

.greetings svg{
    width: 48px;
    margin-right: 16px;
    fill: var(--light-on-background);
    display: none;
}

.greetings >img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 16px;
}

.toolkit{
    display: flex;
}


#intro p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--light-on-background);
}

#intro h4{
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}


.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
    
}

.searchbar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 0 12px;
    border-radius: 24px;
    box-shadow: inset 0px 0px 4px var(--light-outline);
    margin-right: 16px;
}

.searchbar svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: var(--light-outline);
}

.searchbar input{
    appearance: none;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

#search input:focus + #searchbar {
    border: 1px solid black;
}


.share-work{
    display: flex;
}

.share-work label{
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--light-outline-variant);
    border-radius: 8px;
    background-color: var(--light-background);
    cursor: pointer;
    

}

.share-work label:hover,
.share-work label:focus{
background-color: var(--light-primary-container);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}


.share-work input{
    display: none;
}

.notification {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-outline-variant);
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
}

#count{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-surface-tint);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(50% - 20px/2 + 12px);
    top: -7px;
    
}

.notification svg{
    width: 24px;
}

.profile-section{
    width: 40px;

}

.profile-section svg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.projects-section{
    display: grid;
    grid-template-columns: 1fr 192px;
    grid-template-rows: calc(100vh - 76px);
    overflow: none;
}


#project {
    grid-area: 1/1/2/2;
    width: 100%;
    height: calc(100vh - 76px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-template-rows: 48px;
    grid-auto-rows: max-content;
    padding: 0px 28px;
    grid-gap: 24px;
    justify-content: flex-start;
    overflow: auto;
}

#project h3{
    padding: 12px 0;
    grid-area: 1/1/2/-1;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--light-on-background);

}
#project a{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: max-content;
    flex-direction: column;
    color: var(--light-outline);
    text-decoration: none;
    background-color: var(--light-surface);
    border-radius: 8px;
    clip-path: fill-box;
}

.file h4{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.file p{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}


#project a img{
    aspect-ratio: 16/9;
    object-fit: cover;
}

#project a h4{
    margin-top: 8px;
    color: var(--light-on-background);
}

#project a p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    max-height: 88px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}

#project a:hover{
    scale: 1.02;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}


#project a .cta{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right:8px;
}

#project .cta >svg{
    width: 20px;
    fill: var(--light-outline);
}

#project .cta > svg:last-child{
    fill: var(--light-on-background);
}

#side-update{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: var(--light-background);
    overflow: scroll;
    height: calc(100vh-76px);
    overflow: auto;
    
}

#side-update .latest{
    padding: 0px 12px;
    border-top: 1px solid var(--light-outline-variant) ;
    border-bottom: 1px solid var(--light-outline-variant);

}


#side-update .latest h3{
    color: var(--light-on-background);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0px;
    width: 100%;
}

#side-update .latest .news:first-of-type{
    border-top: 1px solid var(--light-outline-variant);
}

#side-update .latest .news{
    text-decoration: none;
    color: var(--light-secondary);
    font-size: 14px;
    line-height: 20px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    padding: 12px 4px;
    border-bottom: 1px solid var(--light-outline-variant);
}

#side-update .latest .news:last-of-type{
    border-bottom: none;
}

#side-update .latest .news p{

    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#side-update .latest .news h5{
    display: flex;
    align-items: center;
    width: max-content;
}

#side-update .latest .news svg{
    width: 16px;
    margin-left: 4px;
}


#side-update .trending{
    padding: 0px 12px;
    
    border-bottom: 1px solid var(--light-outline-variant);
    margin-bottom: 24px;
}

#side-update .trending h3{
    color: var(--light-on-background);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0px;
    width: 100%;
}

#side-update .trending .news{
    text-decoration: none;
    color: var(--light-secondary);
    font-size: 14px;
    line-height: 20px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    border-bottom: 1px solid var(--light-outline-variant);
}

#side-update .trending .news img{
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

#side-update .trending .news .content p{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#side-update .trending .news .content svg{
    width: 16px;
    margin-left: 4px;
}

#side-update .trending .news h5{
    display: flex;
    align-items: center;
    width: max-content;
}